.navbar {
  padding-top: 1px;
  margin-bottom: 1px;
  background-color: rgba(145, 3, 57, 0.692);
  color: burlywood;
  height: 40px;
  font-size: large;
}
.nav-link {
  padding: 3px;
  margin-left: 95px;
  /* text-indent: 10px; */
}
